<meta charset="utf-8">

<head>
<link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">


  <!-- Optional Bootstrap Theme -->

  <link href="http://getbootstrap.com/dist/css/bootstrap-theme.min.css" rel="stylesheet" id="bs-theme-stylesheet">



<!-- Documentation extras -->

<link href="http://getbootstrap.com/assets/css/docs.min.css" rel="stylesheet">
</head>

<body style="margin-left:20px;">


<div class="bs-docs-header" id="content">
      <div class="container">
        <h1>欢迎来到实习生智能短信测试页面</h1>

        <div id="carbonads-container"></div>

      </div>
    </div>

<span class="glyphicon glyphicon-hand-right" aria-hidden="true">ID:{{a.id}}</span>
<div class="bs-callout bs-callout-danger" id="callout-glyphicons-empty-only">
    
    <h4 class="name" id="name">{{a.name}}</h4>
    <p class="phone" id="phone">{{a.phone}}</p>
    <p class="content" id="content">{{a.content}}</p>
  </div>



</body>
